@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


* {
    @apply transition-colors;
}


/* Import Regular Font */
@font-face {
  font-family: 'Noto Sans';
  src: url('/assets/fonts/static/NotoSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Import Medium Font */
@font-face {
  font-family: 'Noto Sans';
  src: url('/assets/fonts/static/NotoSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

/* Import Bold Font */
@font-face {
  font-family: 'Noto Sans';
  src: url('/assets/fonts/static/NotoSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* (Optional) Variable Fonts */
@font-face {
  font-family: 'Noto Sans';
  src: url('/assets/fonts/static/NotoSans-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

/* (Optional) Italic Variable Font */
@font-face {
  font-family: 'Noto Sans';
  src: url('/assets/fonts/static/NotoSans-Italic-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}

/* Set Default Font */
body {
  font-family: 'Noto Sans', sans-serif;
}
